.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
*.DS_Store
/tests/testthat/output
/command_line_output
/vignettes/output
/vignettes/demo_output
/vignettes/hmp2_output
/vignettes/maaslin3_tutorial_cache
/vignettes/random_effects_output
/vignettes/spike_in_demo
/vignettes/total_scaling_demo
/vignettes/group_outputs
/vignettes/interaction_output
/vignettes/ordered_outputs
/vignettes/demo_output_ratio
/vignettes/demo_output_rna
